.button {
         background-color: #99bbff;
         border: none;
         color: black;
         padding: 10px 20px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         margin: 4px 2px;
         cursor: pointer;
         border-radius: 16px;
}
.button:hover {
          background-color: #ddd;
}