table {
    background-color: #fcfffe;
    font-family: Calibri;
    border-collapse: collapse;
}
th, td {
    padding: 3px;
    text-align: left;
    border: 1px solid #ddd;
}
th {
    background-color: #41db9c;
    color: white;
}
tr:hover {background-color: #f5f5f5;}
