<html>
<head>
<link rel="stylesheet" type="text/css" href="/common.css">
<link rel="stylesheet" type="text/css" href="/buttons.css">
</head>

<body>
<h2 class='title'>Overall Balance: #if ($balance > 0) <font color="green">$balance</font> #else <font color="red">$balance</font> #end</h2><br>

<br><b><h2 class = 'title'>Statistics:</h2></b>
<b><u>Number of entries: $entriesNr</u></b> <br><br><br>
#foreach($stat in $totalIncStats.entrySet())
    <b><u>$stat.key : $stat.value</u></b> <br>
#end
#foreach($stat in $incomesStats.entrySet())
    $stat.key : $stat.value <br>
#end
<br><br>
#foreach($stat in $totalExpStats.entrySet())
    <b><u>$stat.key : $stat.value</u></b> <br>
#end
#foreach($stat in $expensesStats.entrySet())
    $stat.key : $stat.value <br>
#end

<h3><i><a href='/budgetTracker'><button class=button style="position:fixed; bottom:75px; left:10px;">Main Page</button></a></i></h3>

<div id="expenses piechart" style="position:absolute;right:1000px;top:70px;"></div>
<div id="incomes piechart" style="position:absolute;right:1000px;top:480px;"></div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawExpensesChart);
google.charts.setOnLoadCallback(drawIncomesChart);

// Draw the chart and set the chart values
function drawExpensesChart() {
  var data = google.visualization.arrayToDataTable([
  ['Expenses', 'Total values'],
  #foreach($entry in $expensesStats.entrySet())
        ['$entry.key', $entry.value],
    #end
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'Expenses Distribution %', 'width':550, 'height':400, 'backgroundColor': '#e6f2ff', 'is3D':true};

  // Display the chart inside the <div> element with id="expenses piechart"
  var chart = new google.visualization.PieChart(document.getElementById('expenses piechart'));
  chart.draw(data, options);
}

function drawIncomesChart() {
  var data = google.visualization.arrayToDataTable([
  ['Incomes', 'Total values'],
  #foreach($entry in $incomesStats.entrySet())
        ['$entry.key', $entry.value],
    #end
]);

  var options = {'title':'Incomes Distribution %', 'width':550, 'height':400, 'backgroundColor': '#e6f2ff', 'is3D':true};

  var chart = new google.visualization.PieChart(document.getElementById('incomes piechart'));
  chart.draw(data, options);
}
</script>

<img src="/bt2.jpg" title="Budget" style="width:600px; height:266.5px; align:right; position:fixed; bottom:75px; right:20px;">

</body>
</html>